@font-face {
	font-weight: 400;
	font-family: AdobeClean;
	font-style: normal;

	font-display: swap;
	src: url(../fonts/adobe-clean/AdobeClean-Regular.woff2),
	url(../fonts/adobe-clean/AdobeClean-Regular.woff);
}