// fonts
$f-main: "AdobeClean", sans-serif;

// colors
$c-main: #6a6a6a;
$c-secondary: #454d56;
$azure: #0099ff;
$cherry-red: #f71424;

// size
$header: 140px;
$header-small: 80px;

// 
$sl: 1450px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xsm: 420px;